

.button {
    -fx-background-color: skyblue;
}
.label {
    -fx-text-fill: white;

}
   .chart {
             -fx-padding: 10px;
             -fx-background-image: url("img.png");
              -fx-tick-label-fill: white;
         }
   .chart-content {
       -fx-padding: 30px;

   }
   .chart-legend {
      -fx-background-color:  transparent;

      -fx-padding: 20px;
   }
.chart-plot-background {
    -fx-background-image: url("img.png");
}
.space .chart-plot-background {
           -fx-background-image: url("img.png");
       }
.grass .chart-plot-background {
           -fx-background-image: url("img_1.png");
       }
.sea .chart-plot-background {
    -fx-background-image: url("img_2.png");
}
HBox, VBox {
 -fx-label-fill: white;
    -fx-background-image: url("img.png");
}
.axis {
    -fx-font-size: 1.7em;
    -fx-tick-label-fill: white;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
   -fx-text-fill: transparent;
    -fx-font-size: 1.5em;
   -fx-font-family: Girassol;
}
.default-color0.chart-series-line { -fx-stroke: white; }
 .space .default-color0.background {  -fx-background-image: url("img.png"); }
.grass .default-color0.background {  -fx-background-image: url("img_1.png"); }
.sea .default-color0.background {  -fx-background-image: url("img_2.png"); }