.background {
    -fx-background-image: url("/img/map.png");
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-size: 100% 100%;
}

.buttons {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-font-family: Elephant;
}

.buttons:hover {
    -fx-background-color: rgba(182, 20, 22, 0.3);
}

.askButton{
    -fx-width: 100px;
    -fx-height: 100px;
    -fx-border: solid 1px #000;
    -fx-border-radius: 10px 10px 10px 10px;
}

.askButton:hover {
    -fx-background-color: rgba(190, 64, 65, 0.3);
}